{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
{% if request.session.role == "anggota" %}
<script>
  $(document).ready(function(){
    window.location.href="/"
  })
</script>
{% elif request.session.role == "petugas" %}
<script>
    $(document).ready(function(){
      window.location.href="/"
    })
  </script>
{% endif %}

<link href="{% static 'css/login.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="w3-text-red">{{ message }}</div>
    </div>
  {% endfor %}
  {% endif %}
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome back!</h3>
                <form action="/registrasi/post-login/" method="POST">
                  {% csrf_token %}
                    <div class="form-label-group">
                        <input name="ktp" type="text" id="inputKTP" class="form-control" placeholder="No KTP" required>
                        <label for="inputKTP">No KTP</label>
                    </div>
                  <div class="form-label-group">
                        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">Email address</label>
                  </div>
  
                  
  
                  
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                  <div class="text-center">
                    <a class="small" href="/registrasi/signup/">SIGN UP</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}

