{% extends 'base.html' %}
{% load static %}
{% block title %}Create Peminjaman{% endblock %}
{% block content %}
<link href="{% static 'css/voucher.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Create Peminjaman</h3>
                <form action="/peminjaman/post-peminjaman/" method="POST">
                    {% csrf_token %}
{#                    <div class="form-group col-md-4">#}
{#                            <label for="inputState">Sepeda stasiun</label>#}
{#                            <select id="inputState" class="form-control">#}
{#                              <option selected>Choose...</option>#}
{#                              <option>...</option>#}
{#                            </select>#}
{#                    </div>#}
                   <div class="form-group col-md-4">
                        <label for="inputSepedaStasiun">Sepeda - Stasiun</label>
                        <select name="sepeda_stasiun" id="inputSepedaStasiun" class="form-control"placeholder="SepedaStasiun" required >
                          {% for i in sepeda_stasiun %}
                            <option>{{i.0}}-{{i.1}}</option>
                          {% endfor %}
                        </select>
                   </div>

                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Pinjam</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
