{% extends 'base.html' %}
{% load static %}
{% block title %}Peminjaman{% endblock %}
{% block content %}
<link href="{% static 'css/lists.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
  <br><br>
    
        <div class="card-body p-5">
            <h1>DAFTAR PEMINJAMAN</h1>
            <br>
      
                <table id ="dtBasic" class="table text-center table-hover ">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">No Kartu Anggota</th>
                            <th scope="col">Sepeda</th>
                            <th scope="col">Stasiun</th>
                            <th scope="col">Waktu Kembali</th>
                            <th scope="col">Biaya</th>
                            <th scope="col">Denda</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in peminjaman %}
                          <tr>
                            <th scope="row">{{i.0}}</th>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                            <td>{{i.4}}</td>
                            <td>{{i.5}}</td>
                              <td>{{i.6}}</td>
                            <td>
                                <button class="btn btn-primary" onclick="kembalikan()">Kembalikan</button>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
        
        </div>
    </div>
   
</div>
<script src="{% static '/js/peminjaman.js' %}"></script>
{% endblock %}
