{% extends 'base.html' %}
{% load static %}
{% block title %}Penugasan{% endblock %}
{% block content %}
<link href="{% static 'css/daftarPenugasan.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
           <p>Are you sure you want to delete this element?</p>
           <ul class="cd-buttons">
              <li onclick="yesFunction()"><a href="#0">Yes</a></li>
              <li onclick="cancelFunction()"><a href="#0">No</a></li>
           </ul>
          
        </div> <!-- cd-popup-container -->
     </div> <!-- cd-popup -->
    <div class="card border-0 shadow my-5">
        <br><br>
        
        <div class="card-body p-5">
            <h1>DAFTAR PENUGASAN</h1>
            <br>
                <table id ="dtBasic" class="table text-center table-hover ">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Petugas</th>
                            <th scope="col">Tanggal Mulai</th>
                            <th scope="col">Tanggal Selesai</th>
                            <th scope="col">Stasiun</th>
                            <th scope="col">Action</th>

                          </tr>
                        </thead>
                        <tbody>
                          {% for i in penugasan %}
                          <tr>
                            <th scope ='row'>{{i.0}} - {{i.1}}</th>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                            <td>{{i.4}}</td>
                          
                            <td>
                                <i class="fas fa-edit" id="{{i.0}}" data-toggle="modal" onclick="updateModal(this.id)" data-target="#exampleModalCenter"></i>
                                <i class="fas fa-trash-alt" id="{{i.0}}" onclick="deleteList(this.id)"></i>
                            </td>
                          {% endfor %}
                        </tbody>
                      </table>
        
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Update Penugasan</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="spinner-border false"role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            
                <form id="load" class="true">
                  {% csrf_token %}
                    <div class="form-group" id="petugas"> 
                      <label for="formGroupExampleInput">Petugas</label>
                      <select name ="petugas" id = "inputPetugas" class = "form-control" placeholder="Petugas" required>
                        <option></option>
                      </select>
                      
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Tanggal Mulai</label>
                      <input onfocus="(this.type='date')" class="form-control" id="tanggalMulai" placeholdeR="Tanggal Mulai" required>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Tanggal Selesai</label>
                        <input onfocus="(this.type='date')" class="form-control" id="tanggalSelesai" placeholdeR="Tanggal Selesai" required>
                      </div>
                      <div class="form-group" id="stasiun">
                          <label for="formGroupExampleInput2">Stasiun</label>
                          <select name="stasiun" id="inputStasiun" class="form-control"placeholder="Stasiun"required>
                            <option></option>
                          </select>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="updatePenugasan()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      
</div>
<script src="{% static '/js/penugasan.js' %}"></script>
{% endblock %}
