{% extends 'base.html' %}
{% load static %}
{% block title %}Create Penugasan{% endblock %}
{% block content %}
<link href="{% static 'css/penugasan.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Penugasan</h3>
                <form action="/penugasan/post-penugasan/" method="POST">
                {% csrf_token %}

                  <div class="form-group">
                    <label for="inputPetugas">Petugas</label>
                    <select name ="petugas" class="form-control" id="inputPetugas" required>
            
                        {% for i in petugas %}
                        <header>Petugas</header>
                            <option>{{i.0}}- {{i.1}}</option>
                          {% endfor %}
    
                  
                    </select>
                  </div>
                    <div class="form-group">
                      <input name ="mulai"type="date" class="form-control" id="inputTanggalMulai" placeholder="Tanggal Mulai" required>
                    </div>
                    
                    <div class="form-group">
                      <input name = "selesai" type="date" class="form-control" id="inputTanggalSelesai" placeholder="Tanggal Selesai" required>
                    </div>
                    

                    <div class="form-group">
                        <label for="inputStasiun">Stasiun</label>
                        <select name ="stasiun" id="inputStasiun" class="form-control"placeholder="Stasiun" label = "Stasiun" required>
                            {% for i in stasiun %}
                            <option>{{i.0}}</option>
                          {% endfor %}
                        </select>
                    </div>

                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Create</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
