{% extends 'base.html' %}
{% load static %}
{% block title %}Acara{% endblock %}
{% block content %}
<link href="{% static 'css/daftarAcara.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
           <p>Are you sure you want to delete this element?</p>
           <ul class="cd-buttons">
              <li onclick="yesFunction()"><a href="#0">Yes</a></li>
              <li onclick="cancelFunction()"><a href="#0">No</a></li>
           </ul>
          
        </div> <!-- cd-popup-container -->
     </div> <!-- cd-popup -->
    <div class="card border-0 shadow my-5">
        <br><br>
       
        <div class="card-body p-5">
            <h1>DAFTAR ACARA</h1>
            <br>
            {% if request.session.role == "petugas" %}

                <table id ="dtBasic" class="table text-center table-hover ">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Judul</th>
                            <th scope="col">Deskripsi</th>
                            <th scope="col">Tanggal mulai</th>
                            <th scope="col">Tanggal akhir</th>
                            <th scope="col">Is Free</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in acara %}
                          <tr>
                            <th scope="row">{{i.1}}</th>
                            <td>{{i.5}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.4}}</td>
                            <td>{{i.3}}</td>
                            <td>
                              <i class="fas fa-edit" id="{{i.0}}" data-toggle="modal" onclick="updateModal(this.id)" data-target="#exampleModalCenter"></i>
                              <i class="fas fa-trash-alt" id="{{i.0}}" onclick="deleteList(this.id)"></i>
                          </td>
                          </tr>
                         {% endfor %}
                          
                        </tbody>
                      </table>
              {% elif request.session.role == "anggota" %}
                      <table id ="dtBasic" class="table text-center table-hover ">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Judul</th>
                              <th scope="col">Deskripsi</th>
                              <th scope="col">Tanggal mulai</th>
                              <th scope="col">Tanggal akhir</th>
                              <th scope="col">Is Free</th>
                             
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in acara %}
                            <tr>
                              <th scope="row">{{i.1}}</th>
                              <td>{{i.5}}</td>
                              <td>{{i.2}}</td>
                              <td>{{i.4}}</td>
                              <td>{{i.3}}</td>
                              
                            </tr>
                          {% endfor %}
                            
                          </tbody>
                        </table>
              {% endif %}

        
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content stasiun">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Update Acara</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="spinner-border false"role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            
                <form id="load" class="true" > 
                  {% csrf_token %}
                    <div class="form-group">
                      <label for="formGroupExampleInput">judul</label>
                      <input type="text" class="form-control" id="judul" placeholder="Judul" required>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">deskripsi</label>
                        <input type="text" class="form-control" id="deskripsi" placeholder="Deskripsi" required>
                      </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Biaya</label>
                      <select name="fee" id="biaya" class="form-control" placeholder="Gratis" required>
                          <option></option>
                        </select>
                     
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Tanggal Mulai</label>
                        <input onfocus="(this.type='date')" class="form-control" id="tanggalMulai" placeholdeR="Tanggal Mulai" required>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Tanggal Selesai</label>
                        <input onfocus="(this.type='date')" class="form-control" id="tanggalSelesai" placeholdeR="Tanggal Selesai" required>
                    </div>
                    <div class="form-group" id="stasiun">
                        <label for="formGroupExampleInput2">Stasiun</label>
                        <select name="stasiun" id="inputStasiun" class="form-control"placeholder="Stasiun"required>
                            <option></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="updateAcara()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
     
</div>
<script src="{% static '/js/acara.js' %}"></script>
{% endblock %}
