
{% extends 'base.html' %}
{% load static %}
{% block title %}Create Stasiun{% endblock %}
{% block content %}
<link href="{% static 'css/stasiun.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Create Stasiun</h3>
                  <form action="/stasiun/post-stasiun/" method="POST">
                    {% csrf_token %}
                <form>
                    <div class="form-label-group">
                        <input name="nama" type="text" id="inputNamaStasiun" class="form-control" placeholder="Nama Stasiun" required>
                        <label for="inputNamaStasiun">Nama</label>
                    </div>
                    <div class="form-label-group">
                            <input name="alamat" type="text" id="inputAlamat" class="form-control" placeholder="Kategori" required>
                            <label for="inputAlamat">Alamat</label>
                        </div>
                    <div class="form-label-group">
                            <input name="latitude" type="text" id="inputLatitude" class="form-control" placeholder="Nilai Poin"  autofocus>
                            <label for="inputLatitude">Latitude</label>
                    </div>

                    <div class="form-label-group">
                            <input name="longitude" type="text" id="inputLongitude" class="form-control" placeholder="Deskripsi" >
                            <label for="inputLongitude">Longitude</label>
                    </div>



                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Create</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
