{% extends 'base.html' %}
{% load static %}
{% block title %}Create Voucher{% endblock %}
{% block content %}
<link href="{% static 'css/voucher.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Create Voucher</h3>
                <form action="/voucher/post-voucher/" method="POST">
                    {% csrf_token %}
                    <label for="inputNamaVoucher">Nama</label>
                    <div class="form-label-group">

                        <input name="nama" type="text" id="inputNamaVoucher" class="form-control" placeholder="Nama Voucher" required>

                    </div>
                    <label>Kategori</label>
                    <div class="form-label-group">

                        <select name="kategori" id="inputKategoriVoucher" class="form-control"placeholder="Kategori" required >
                          {% for i in voucher %}
                            <option>{{i.0}}</option>
                          {% endfor %}
                        </select>
                        </div>
                        <label for="inputPoinVoucher">Nilai Poin</label>
                    <div class="form-label-group">

                            <input name="nilai_poin" type="number" id="inputPoinVoucher" class="form-control" placeholder="Nilai Poin" required autofocus>

                    </div>
                    <label for="inputDeskripsiVoucher">Deskripsi</label>
                    <div class="form-label-group">

                            <input name="deskripsi" type="text" id="inputDeskripsiVoucher" class="form-control" placeholder="Deskripsi" required>

                    </div>
                    <label for="inputJumlahVoucher">Jumlah</label>
                    <div class="form-label-group">

                            <input name="jumlah" type="number" id="inputJumlahVoucher" class="form-control" placeholder="Jumlah" required>

                    </div>

                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Create</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
