
{% extends 'base.html' %}
{% load static %}
{% block title %}Voucher{% endblock %}
{% block content %}
<link href="{% static 'css/lists.css' %}" rel="stylesheet"></link>
<!-- Page Content -->
<div class="container">
    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
           <p>Are you sure you want to delete this element?</p>
           <ul class="cd-buttons">
              <li onclick="yesFunction()"><a href="#0">Yes</a></li>
              <li onclick="cancelFunction()"><a href="#0">No</a></li>
           </ul>
        </div> <!-- cd-popup-container -->
     </div> <!-- cd-popup -->
    <div class="card border-0 shadow my-5">
        <br><br>
       
        <div class="card-body p-5">
            <h1>DAFTAR VOUCHER</h1>
            <br>
            {% if request.session.role == 'petugas' %}
                <table id ="dtBasic" class="table text-center table-hover ">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Nama</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Nilai Poin</th>
                            <th scope="col">Deskripsi</th>
                            <th scope="col">Jumlah</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in voucher %}
                          <tr>
                            <th scope="row">{{i.1}}</th>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                            <td>{{i.4}}</td>
                            <td>{{i.6}}</td>
                            <td>
                              <i class="fas fa-edit" id="{{i.0}}" data-toggle="modal" onclick="updateModal(this.id)" data-target="#exampleModalCenter"></i>
                              <i class="fas fa-trash-alt" id="{{i.0}}" onclick="deleteList(this.id)"></i>
                          </td>
                          </tr>
                         {% endfor %}
                        </tbody>
                      </table>
            {% elif request.session.role == 'anggota' %}
            <table id ="dtBasic" class="table text-center table-hover ">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Nilai Poin</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Jumlah</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in voucher %}
                  <tr>
                    <th scope="row">{{i.1}}</th>
                    <td>{{i.2}}</td>
                    <td>{{i.3}}</td>
                    <td>{{i.4}}</td>
                    <td>{{i.6}}</td>
                    <td>
                      <button id="{{i.0}}" data-toggle="modal" onclick="klaim(this.id)">Klaim</button>

                  </td>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
            {% endif %}

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content voucher">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Update Voucher</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="spinner-border false"role="status">
                    <span class="sr-only">Loading...</span>
                </div>

                <form id="load" class="true">
                    <div class="form-group">
                      <label for="formGroupExampleInput">Nama</label>
                      <input type="text" class="form-control" id="namaVoucher" placeholder="Nama">
                    </div>
                    <div class="form-group" id="kategori">
                        <label for="formGroupExampleInput2">Kategori</label>
                        <select name="kategori" id="kategoriVoucher" class="form-control" placeholder="Kategori"required>
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Nilai Poin</label>
                        <input type="number" class="form-control" id="poinVoucher" placeholder="Poin">
                      </div>
                      <div class="form-group">
                          <label for="formGroupExampleInput2">Deskripsi</label>
                          <input type="text" class="form-control" id="deskripsiVoucher" placeholder="Deskripsi">
                        </div>
                    <div class="form-group">
                          <label for="formGroupExampleInput2">Jumlah</label>
                          <input type="number" class="form-control" id="jumlahVoucher" placeholder="Jumlah">
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateVoucher()">Save changes</button>
              </div>
          </div>
        </div>
      </div>
</div>
<script src="{% static '/js/voucher.js' %}"></script>
{% endblock %}
