root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}
body {
  background: url('/static/img/bike-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.container .btn {
  position: absolute;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-90%, -50%);
  background-color: rgba(72, 72, 72, 0.192);
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
background-color: #4DD156;
color: white;
}

#pilih{
  border-radius: 3rem;
}


