{% extends 'base.html' %}

{% block title %}Home {% endblock %}
{% block content %}
{% load static %}

  <link href="{% static '/css/home.css' %}" rel="stylesheet">



  {% if request.session.role == "anggota" %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Every Lane is A Bike Lane <br>Our Innovation to Your Destination</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <!-- <a href="/registrasi/signup/"><button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button></a> -->
          </div>
        </div>
      </div>
    </header>
  {% elif request.session.role == "petugas" %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Every Lane is A Bike Lane <br>Our Innovation to Your Destination</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <!-- <a href="/registrasi/signup/"><button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button></a> -->
          </div>
        </div>
      </div>
    </header>
    {% else %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Every Lane is A Bike Lane <br>Our Innovation to Your Destination</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <a href="/registrasi/signup/"><button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button></a>
          </div>
        </div>
      </div>
    </header>
    {% endif %}
  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class=" fas fa-bicycle m-auto text-primary"></i>
            </div>
            <h3>High Quality</h3>
            <p class="lead mb-0">We have the best bicycle quality in town with more than 1000 units</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-money-check m-auto text-primary"></i>
            </div>
            <h3>Easy Payment</h3>
            <p class="lead mb-0">Top Up anywhere and anytime!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Ready to use everytime!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/roda.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Anywhere to anywhere</h2>
          <p class="lead mb-0">Pick and drop our Keyless scooters anywhere in the city. All you need is an OTP!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/img/lane.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Fuel & Helmet included</h2>
          <p class="lead mb-0">Fuel is on us. Pop the trunk, wear your helmet and off you go.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/bicycle-park.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Save time & spend lesser</h2>
          <p class="lead mb-0">It’s the most economical ride around town.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Meet our Team!</h2>
      <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/putri.jpg' %}" alt="">
            <h5>Dinda Mutiara Qur'ani Putri</h5>
            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
          </div>
        </div>
        <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/sitiq2.jpg' %}" alt="">
              <h5>Siti Nurfitriyah</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/ady.jpg' %}" alt="">
            <h5>Muhamad Istiady Kartadibrata</h5>
            <p class="font-weight-light mb-0">"Bike Sharing is amazing. I've been using it Everyday"</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/jin2.jpg' %}" alt="">
            <h5>Naufaldi Athallah Rifqi</h5>
            <p class="font-weight-light mb-0">"Thanks so much for making these"</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if request.session.role == "anggota" %}
    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Sign up now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <!-- <a href="/registrasi/signup/"><button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button></a> -->
          </div>
        </div>
      </div>
    </section>
    {% elif request.session.role == "petugas" %}
    <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <!-- <a href="/registrasi/signup/"><button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button></a> -->
        </div>
      </div>
    </div>
  </section>
  {% else %}
  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <a href="/registrasi/signup/"><button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button></a>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

 {% endblock %}
