{% extends 'base.html' %}
{% load static %}
{% block title %}Laporan{% endblock %}
{% block content %}
<link href="{% static 'css/transaksi.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <br><br>
       
        <div class="card-body p-5">
            <h1>DAFTAR LAPORAN</h1>
            <br>
                <table id ="dtBasic" class="table text-center table-hover ">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">ID Laporan</th>
                            <th scope="col">Tanggal Pinjam</th>
                            <th scope="col">Anggota</th>
                            <th scope="col">Denda</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for i in laporan %}
                            <tr>
                              <th scope="row" class="counterCell"></th>
                              <td>{{i.1}}</td>
                              <td>{{i.3}}</td>
                              <td>{{i.2}}-{{i.0}}</td>
                              <td>{{i.5}}</td>
                              <td>{{i.4}}</td>
                            </tr>
                           {% endfor %}
                        </tbody>
                      </table>
        
        </div>
    </div>
    
</div>
{% endblock %}
