{% extends 'base.html' %}
{% load static %}
{% block title %}Transaksi{% endblock %}
{% block content %}
<link href="{% static 'css/transaksi.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <br><br>
        

        <div class="card-body p-5">
            <h1>RIWAYAT TRANSAKSI</h1>
            <br>
                <table id ="dtBasic" class="table text-center table-hover ">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Tanggal</th>
                            <th scope="col">Jenis Transaksi</th>
                            <th scope="col">Nominal</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in transaksi %}
                          <tr>
                            <th scope="row" class="counterCell"></th>
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                          </tr>
                         {% endfor %}
                        </tbody>
                      </table>
        
        </div>
    </div>
   
</div>
{% endblock %}
