{% extends 'base.html' %}
{% load static %}
{% block title %}Daftar Sepeda{% endblock %}
{% block content %}
<link href="{% static 'css/listSepeda.css' %}" rel="stylesheet"></link>
<style>
  .False{
    background-color: grey !important;
    color: #ffff;
    cursor: not-allowed !important;
    visibility: hidden;
  }
</style>

<!-- Page Content -->
<div class="container">
    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
           <p>Are you sure you want to delete this element?</p>
           <ul class="cd-buttons">
              <li onclick="yesFunction()"><a href="#0">Yes</a></li>
              <li onclick="cancelFunction()"><a href="#0">No</a></li>
           </ul>
          
        </div> <!-- cd-popup-container -->
     </div> <!-- cd-popup -->
    <div class="card border-0 shadow my-5">
        <br><br>
        <div class="card-body p-5">
            <h1>DAFTAR SEPEDA</h1>
            <br>
              {% if request.session.role == "anggota" %}
                <table id ="dtBasic" class="table text-center table-hover ">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Nomor</th>
                            <th scope="col">Merk</th>
                            <th scope="col">Jenis</th>
                            <th scope="col">Status</th>
                            <th scope="col">Stasiun</th>
                            <th scope="col">Penyumbang</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {%for i in sepeda %}
                          <tr>
                              <th scope="row">{{i.2}}</th>
                                <td>{{i.3}}</td>
                                <td>{{i.4}}</td>
                                <td>{{i.5}}</td>
                                <td>{{i.0}}</td>
                                <td>{{i.1}}</td>
                          
                            <td> <button onclick="pinjam(this.id)" id= "{{i.2}}" class="btn btn-dark {{i.5}}" >Pinjam</button></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
              {% elif request.session.role == "petugas" %}
              <table id ="dtBasic" class="table text-center table-hover ">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nomor</th>
                      <th scope="col">Merk</th>
                      <th scope="col">Jenis</th>
                      <th scope="col">Status</th>
                      <th scope="col">Stasiun</th>
                      <th scope="col">Penyumbang</th>
                      <th scope="col">Action</th>
                  
                    </tr>
                  </thead>
                  <tbody>
                      {%for i in sepeda %}
                    <tr>
                        <th scope="row">{{i.2}}</th>
                        <td>{{i.3}}</td>
                        <td>{{i.4}}</td>
                        <td>{{i.5}}</td>
                        <td>{{i.0}}</td>
                        <td>{{i.1}}</td>
                      <td>
                        <i class="fas fa-edit" id="{{i.2}}" data-toggle="modal" onclick="updateModal(this.id)" data-target="#exampleModalCenter"></i>
                        <i class="fas fa-trash-alt" id="{{i.2}}" onclick="deleteList(this.id)"></i>
                      </td>
                    </tr>
                    {% endfor %}
                   
                  </tbody>
                </table>
              {% endif %}
        
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Update Sepeda</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <div class="spinner-border false"role="status">
                <span class="sr-only">Loading...</span>
            </div>
        
            <form id="load" class="true">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="formGroupExampleInput">Merk</label>
                      <input type="text" class="form-control" id="merkSepeda" placeholder="Merk">
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Jenis</label>
                      <input type="text" class="form-control" id="jenisSepeda" placeholder="Jenis">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Status</label>
                        <select name="status" id="statusSepeda" class="form-control" placeholder="Status" required>
                            <option></option>
                          </select>
                      </div>

                      <div class="form-group">
                          <label for="formGroupExampleInput2">Stasiun</label>
                          <select name="stasiun" id="inputStasiun" class="form-control"placeholder="Stasiun"required>
                              <option></option>
                          </select>  

                      <div class="form-group">
                          <label for="formGroupExampleInput2">Penyumbang</label>
                          <select name="penyumbang" id="penyumbangSepeda" class="form-control"placeholder="Penyumbang" required>
                             
                              <option></option>
                          </select>  
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="updateSepeda()">Save changes</button> 
        </div>
      </div>
      </div>
      </div>
      
      </div>
      

<script src="{% static '/js/sepeda.js' %}"></script>
{% endblock %}
