{% extends 'base.html' %}
{% load static %}
{% block title %}Create Sepeda{% endblock %}
{% block content %}
<link href="{% static 'css/voucher.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Create Sepeda</h3>
                <form action="/sepeda/post-sepeda/" method="POST">
                  {% csrf_token %}

                  <label>Merk</label>
                    <div class="form-group">
                      <input name="merk" type="text" class="form-control" id="inputMerkSepeda" placeholder="Merk" required>
                    </div>

                    <label>Jenis</label>
                        <div class="form-group">
                          <input name="jenis" type="text" class="form-control" id="inputJenis" placeholder="Jenis" required>
                        </div>  

                        <label>Status</label>
                    <div class="form-label-group">
                      <select name="status" id="inputStatus" class="form-control"placeholder="Status"required>
      
                          <option>Tersedia</option>
                          <option>Tidak Tersedia</option>
                        </select>
                    </div>

                    <label>Stasiun</label>
                    <div class="form-label-group">
            
                  <select name="stasiun" id="inputStasiun" class="form-control"placeholder="Stasiun"required>
                     
                      {% for i in stasiun %}
                            <option>{{i.0}}</option>
                           
                          {% endfor %}
                    </select>
                </div>

                <label>Penyumbang</label>
                <div class="form-label-group">
                    <select name="penyumbang" id="inputPenyumbang" class="form-control"placeholder="Penyumbang" required>
                      {% for i in penyumbang %}
                        <option>{{i.0}}</option>
                      {% endfor %}
              
                   
                    </select>
                </div>
                  
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Create</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
